@media screen and (min-width: 500px) {
    body {
        background-color: skyblue;
    }
}
@media screen and (max-width: 300px) {
    body {
        background-color: orange;
    }
}
@media (max-height: 300px) {
    p {
        font-size: large;
    }
}
@media (min-height: 500px) {
    body {
        background-color: green;
    }
}
