div {
    width: 100%;
    position: relative;
    animation-name: moving;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    
}

@keyframes moving {
    0% {
        left : 100%;
        width: 300%;
    }
    100% {
        left : 0%;
        width: 100%;
    }
}