.square {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    display: inline-block;
}
.d-none { /* 자리도 없어짐 */
    background-color: red;
    display: none;
}
.invisible {
    background-color: orangered;
    visibility: hidden;
}
.opacity-0 {
    background-color: tomato;
    opacity: 0;
}