.container {
    background-color: bisque;
    width: 500px;
    height: 500px;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse
}
.item {
    width: 100px;
    height: 100px;
}
.item1 {
    background-color: red;
}
.item2 {
    background-color: orange;
}
.item3 {
    background-color: yellow;
}